.curve {
	position: relative;
	// > *:last-child:not(.pageCTA):not(.fullbanner-section) {
	// 	padding-bottom: 25vh;
	// }

	.route-transition {
		position: fixed;
		height: calc(100vh + 600px);
		width: 100vw;
		pointer-events: none;
		left: 0;
		top: 0;
		pointer-events: none;
		z-index: 2001;
	}

	.route {
		pointer-events: none;
		position: fixed;
		left: 50%;
		top: 40vh;
		color: white;
		font-weight: bold;
		z-index: 3;
		transform: translateX(-50%);
		text-align: center;
		z-index: 2001;
		line-height: 1.25;
		font-weight: 700;
		width: 600px;
		margin: 0;
	}

	.route-transition {
		z-index: 2000;

		path {
			fill: var(--base-red);
		}
	}

	.cheat-cover {
		background-color: var(--base-red);
		position: fixed;
		height: calc(100vh + 600px);
		width: 100vw;
		pointer-events: none;
		left: 0;
		top: 0;
		pointer-events: none;
		z-index: 2001;
	}
}
