.btn {
	border-radius: 2rem;
	display: inline-flex;
	padding: 0.75rem 2rem;
	align-items: center;
	border: 3px solid transparent;
	background-color: var(--gray-2);
	font-weight: bold;
	transform-origin: center;
	position: relative;
	/* overflow: hidden; */
}

.btn a {
	position: relative;
	z-index: 2;
	text-decoration: none;
	color: currentColor;
}

.btn.pri {
	color: var(--base-red);
}
.btn.btn-bordered {
	background-color: transparent;
	border-color: var(--base-black);
}

.btn.btn-bordered.pri {
	border-color: var(--base-red);
}

.btn.btn-bordered.sec {
	border-color: var(--base-blue);
	color: var(--base-blue);
}

.btn.btn-bordered.white {
	border-color: white;
}

.btn.white {
	background-color: white;
	color: var(--base-red);
}

.hover-bg {
	position: absolute;
	/* height: 0px;
	width: 0px; */
	background-color: red;
	z-index: 1;
	border-radius: 100%;
	pointer-events: none;
	transform-origin: center;
}

.hover-bg {
	display: none;
}
