.image3d {
	position: relative;
	align-self: center;
	padding: 4rem;
	padding-bottom: 0;
	overflow: hidden;
}

.image3d img {
	position: absolute;
	bottom: 0%;
	left: 50%;
	width: 100%;
	/* transform: translate(-50%, -50%); */
}

.image3d-bg img {
	position: absolute;
	left: 50%;
	bottom: 0%;
	/* transform: translate(-50%, -50%); */
}

.image3d-elements {
	height: 100%;
	width: 100%;
}
.image3d-elements img:nth-child(1) {
	/* transform: translate(-60%, -50%); */
}

.image3d-elements img:nth-child(2) {
	/* transform: translate(-50%, -50%); */
}

.image3d-bg {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-bottom: 120%;
}
