body {
	--base-red: #f35a38;
	--base-yellow: #ffd038;
	--yellow-1: #f8eebb;
	--base-blue: #0a7bb5;

	--gray-2: #e6e6e6;
	--gray-3: #c9c9c9;
	--base-black: #404040;
	--container-gap: 4rem;
	--nav-height: 7rem;
	background-color: #fffbf2;

	color: var(--base-black);
}

@import '../components/Layout/Curve/style.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Merriweather+Sans:ital,wght@0,300;0,600;0,800;1,400&display=swap&family=Merriweather&family=Merriweather+Sans:ital,wght@0,300;0,600;0,800;1,400&display=swap');

html,
body {
	font: 16px / 2 sans-serif;
	font-family: 'Inter', sans-serif;
	font-family: 'Merriweather', serif;
	font-weight: 300;
}

a {
	text-decoration: none;
}
/* 
h1,
.heading-1 {
	font-size: 3.815rem;
	text-wrap: pretty;
}
h2,
.heading-2 {
	font-size: 3.052rem;
	line-height: 1.25;
	text-wrap: pretty;
}
h3,
.heading-3 {
	font-size: 2.441rem;
	line-height: 1.25;
}
h4,
.heading-4 {
	font-size: 1.953rem;
}
h5,
.heading-5 {
	font-size: 1.563rem;
}
h6,
.heading-6 {
	font-size: 1.25rem;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Merriweather Sans', sans-serif;
}

h1,
.heading-1 {
	font-size: 5.61rem;
	line-height: 1;
	text-wrap: pretty;
}
h2,
.heading-2 {
	font-size: 4.209rem;
	line-height: 1.25;
	text-wrap: pretty;
}
h3,
.heading-3 {
	font-size: 3.157rem;
	line-height: 1.25;
}
h4,
.heading-4 {
	font-size: 2.369rem;
}
h5,
.heading-5 {
	font-size: 1.777rem;
}
h6,
.heading-6 {
	font-size: 1.333rem;
}

p {
	font-size: 1rem;
	margin: 2rem 0;
}
small {
	font-size: 0.75rem;
}

.progress circle {
	stroke-dashoffset: 0;
	stroke-width: 5%;
	fill: none;
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

.progress .indicator {
	stroke: red;
}

.container-fluid-width {
	padding: var(--container-gap);
	width: 80%;
	margin: auto;
}

main > :first-child:not(.parallax-container) {
	margin-top: var(--nav-height);
}
.section-content {
	position: relative;
	z-index: 2;
	min-height: 100vh;
	/* padding: 4rem; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.section-content.fullscreen {
	height: 100vh;
	padding: 0;
}

.section-content.full {
	.container-fluid-width {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}

.section-content.no-min-height {
	min-height: 0;
}

.full-section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	color: white;
}

.full-section {
	background-color: var(--base-black);
}

.text-center {
	text-align: center;
}

.class-1 {
}

a.block {
	text-decoration: none;
}

.block {
	display: block;
}

.push-right {
	margin-left: auto;
}

/* buttons */

button {
	cursor: pointer;
}

.btn {
	display: flex;
	padding: 10px;
	align-items: center;
	border: 2px solid transparent;
}

.btn-gray {
}
.btn.btn-bordered {
	border-color: var(--base-black);
}

.btn-bordered.btn-gray2 {
	border-color: var(--gray-2);
}

.btn-bordered.btn-gray3 {
	border-color: var(--gray-3);
}

.btn-clear {
	background-color: transparent;
}

a {
	color: var(--base-blue);
}

.uppercase {
	text-transform: uppercase;
}

/* typescale */

.align-center {
	align-items: center;
}
.grid {
	display: grid;
	gap: 8rem;
}

.grid.reverse {
	grid-auto-flow: revert;
}

.grid.by-2 {
	grid-template-columns: 1fr 1fr;
}

.flex {
	display: flex;
}

.flex.reverse {
	flex-direction: row-reverse;
}

.flex.by-2 > * {
	flex: 0 1 50%;
}

.card-container {
	gap: 4rem;
}

.article-content {
	margin: 4rem 0;
	font-size: 1.2rem;
	--gap: clamp(1rem, 6vw, 6rem);
	--full: minmax(var(--gap), 1fr);
	--content: min(75ch, 100% - var(--gap) * 2);
	--popout: minmax(0, 4rem);
	--feature: minmax(0, 10rem);

	display: grid;
	grid-template-columns:
		[full-start] var(--full)
		[feature-start] var(--feature)
		[popout-start] var(--popout)
		[content-start] var(--content) [content-end]
		var(--popout) [popout-end]
		var(--feature) [feature-end]
		var(--full) [full-end];
}
.article-content p {
	margin-bottom: 0;
}
.article-content > * {
	grid-column: content;
}

.article-content > * {
	grid-column: content;
}
.article-content .popout {
	grid-column: popout;
}
.article-content .feature {
	grid-column: feature;
}
.article-content .full {
	grid-column: full;
}

.article-content img {
	aspect-ratio: 4 / 1.5;
	display: block;
	width: 100%;
}

.article-social {
	grid-column: full;
	height: 0;
	position: sticky;
	align-self: start;
	top: calc(50% - 11rem);
}
.article-social .social-icons {
	display: block;
	height: 3rem;
	width: 3rem;
	margin: 0.5rem;
}

.split-color b {
	color: var(--base-red);
}

@import '../components/Layout/Nav/nav.scss';
@import '../components/Layout/ShapeBg/shapebg.scss';
@import '../components/Layout/Footer/footer.scss';

@import '../components/button/button.scss';
@import '../components/Parallax/parallax.scss';
@import '../components/SampleVideo/sample-video.scss';
@import '../components/Accordion/accordion.scss';
@import '../components/modal/modal.scss';

@import '../components/single-parallax/single-parallax.scss';

@import '../cms-components/OurBusinesses/ourbusinesses.scss';
@import '../cms-components/Image3D/Image3D.scss';
@import '../cms-components/PageCTA/pagecta.scss';

@import '../cms-components/PageTitle/pagetitle.scss';
@import '../cms-components/PDFItem/pdfitem.scss';
@import '../cms-components/PDFWidget/pdfwidget.scss';

@import '../cms-components/TextGradient/TextGradient.scss';

.marquee {
	overflow: hidden;
	padding: 1rem;
	.marquee-overflow {
		position: relative;
	}
	.grid {
		width: 200%;
		gap: 1rem;
		> div {
			overflow: hidden;
			aspect-ratio: 1.618 / 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
		position: relative;
		z-index: 1;
	}
	.single-parallax {
		height: 125%;
		width: 125%;
		span {
			position: absolute;
			z-index: 3;
			font-size: 10rem;
			font-weight: bold;
			top: 0;
			left: 0;
			color: white;
		}
	}
}

.news-featured {
	display: grid;
	gap: var(--container-gap);
	grid-template-columns: 0.5fr 0.5fr;
	// grid-template-rows: 4rem auto;
	.news-title {
		margin: 0;
	}
	.single-parallax {
		height: 100%;
		width: 100%;
	}
	.desc-container {
		margin-top: var(--container-gap);
	}
	.img-container {
		aspect-ratio: 3/5;
		overflow: hidden;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}

.news-list {
	padding-top: calc(var(--container-gap) * 2);
	padding-bottom: calc(var(--container-gap) * 2);
}
.news-item {
	display: flex;
	border-top: 1px solid var(--gray-3);
	align-items: center;
	.img-container {
		display: none;
	}

	.news-title {
		flex: 0 1 768px;

		margin: 0;
		margin-right: auto;
		padding: 2rem 0;
	}
}

.modalContainer {
	height: 350px;
	width: 400px;
	position: absolute;
	background-color: white;
	overflow: hidden;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modalSlider {
	height: 100%;
	width: 100%;
	position: absolute;
	transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal-news {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.modal-news img {
	height: auto;
}

.cursor,
.cursorLabel {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--base-blue);
	color: white;
	position: absolute;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 300;
	pointer-events: none;
}

.cursorLabel {
	background-color: transparent;
}

.project {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 50px 100px 50px 100px;
	border-top: 1px solid rgb(201, 201, 201);
	cursor: pointer;
	transition: all 0.2s;
}
.project:last-of-type {
	border-bottom: 1px solid rgb(201, 201, 201);
}

.project:hover {
	opacity: 0.5;
}

.project:hover h2 {
	transform: translateX(-10px);
}

.project:hover p {
	transform: translateX(10px);
}

.project h2 {
	font-size: 60px;
	margin: 0px;
	font-weight: 400;
	transition: all 0.4s;
}

.project p {
	transition: all 0.4s;
	font-weight: 300;
}
