.page-banner {
	height: calc(100dvh - var(--nav-height) + var(--section-padding));
	overflow: hidden;
	min-height: 800px;
	.container-fluid-width {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.page-banner-content {
	}
	.desc-container {
		flex: 0 1 50%;
	}

	.img-container {
		position: relative;
		flex: 0 1 50%;
		align-self: stretch;
		.img-item {
			position: absolute;
			height: auto;
			width: auto;
			bottom: 0;
		}
		.img-item {
			z-index: 2;
		}
		.img-item:first-child {
			position: relative;
			width: auto;
			height: 100%;
			z-index: 0;
		}
		.img-item:nth-child(2) {
			width: 100%;
			height: auto;
		}

		.img-item:nth-child(3) {
			right: 40%;
			width: 18vw;
		}

		.img-item:nth-child(4) {
			right: 0%;
			width: 20vw;
		}

		.img-item:last-child {
			bottom: 55%;
			height: auto;
			z-index: 1;
			width: 12vw;
		}
	}
}
