@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Merriweather+Sans:ital,wght@0,300;0,600;0,800;1,400&display=swap&family=Merriweather&family=Merriweather+Sans:ital,wght@0,300;0,600;0,800;1,400&display=swap');
* {
	box-sizing: border-box;
}

body {
	--base-red: #f35a38;
	--base-yellow: #ffd038;
	--yellow-1: #f8eebb;
	--base-blue: #0a7bb5;
	--gray-2: #e6e6e6;
	--gray-3: #c9c9c9;
	--base-black: #404040;
	--nav-height: 7rem;
	background-color: #fffbf2;
	--border-radius: 1rem;
	color: var(--base-black);
	font-size: 16px;
	--section-padding: clamp(2.25rem, 10vh, 7rem);
	--container-padding: clamp(2.5rem, 6vw, 4rem);
	--gap-padding: clamp(1.5em, 8vw, 8em);
	background-color: black !important; 
}

.theme.smc-red {
	--pri-color: #ed3223;
}

.theme.smc-blue {
	--pri-color: #1384C0;
}
.theme.smc-blue {
	--pri-color: #1384C0;


.curve {
	position: relative;
}
.curve > *:last-child:not(.pageCTA):not(.fullbanner-section) {
	padding-bottom: 25vh;
}
.curve .route-transition {
	position: fixed;
	height: calc(100vh + 600px);
	width: 100vw;
	pointer-events: none;
	left: 0;
	top: 0;
	pointer-events: none;
}
.curve .route-transition + *:not(.parallax-container) {
	padding-top: calc(var(--nav-height) + var(--section-padding));
}
.curve .route {
	pointer-events: none;
	position: fixed;
	left: 50%;
	top: 40%;
	color: white;
	font-weight: 700;
	line-height: 1.35;
	z-index: 3;
	transform: translateX(-50%);
	text-align: center;
	z-index: 2001;
}
.curve .route-transition {
	z-index: 2000;
}
.curve .route-transition path {
	fill: var(--base-red);
}

html,
body {
	font-family: 'Inter', sans-serif;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	line-height: 1.6;
	font-size: clamp(0.9rem, 0.34vw + 0.91rem, 1rem);
	hanging-punctuation: first last;
}

a {
	text-decoration: none;
}

/* 
h1,
.heading-1 {
	font-size: 3.815rem;
	text-wrap: pretty;
}
h2,
.heading-2 {
	font-size: 3.052rem;
	line-height: 1.25;
	text-wrap: pretty;
}
h3,
.heading-3 {
	font-size: 2.441rem;
	line-height: 1.25;
}
h4,
.heading-4 {
	font-size: 1.953rem;
}
h5,
.heading-5 {
	font-size: 1.563rem;
}
h6,
.heading-6 {
	font-size: 1.25rem;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Merriweather Sans', sans-serif;
	text-wrap: pretty;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 700;
}

h1,
.heading-1 {
	line-height: 1.065;
	margin-bottom: 1em;
	font-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
	font-weight: 900;
}

h2,
.heading-2 {
	font-size: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
	line-height: 1.065;
	margin-bottom: 0.66em;
}

h3,
.heading-3 {
	font-size: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
	line-height: 1.065;
	margin-bottom: 1em;
}

h4,
.heading-4 {
	font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
	line-height: 1.45;
	margin-bottom: 1em;
}

h5,
.heading-5 {
	font-size: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
}

h6,
.heading-6 {
	margin-top: 2rem;
	font-size: 1.333rem;
}

p {
	font-size: 1rem;
	margin: 1rem 0;
}

.small {
	font-size: clamp(0.75rem, 0.15vw + 0.76rem, 0.85rem);
	line-height: 1.75;
	letter-spacing: 0.015em;
}

.size-limit {
	font-size: clamp(0.8rem, 0.2vw + 0.95rem, 0.95rem);
}

.big {
	font-size: 1.2em;
}

.progress circle {
	stroke-dashoffset: 0;
	stroke-width: 5%;
	fill: none;
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

.progress .indicator {
	stroke: red;
}

main > :first-child:not(.parallax-container) {
	margin-top: var(--nav-height);
}

.section-content {
	position: relative;
	z-index: 2;
	/* padding: 4rem; */
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}

.container-fluid-width {
	width: 100%;
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	margin: auto;
}

.container-fluid-width.large {
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
}

.container-fluid-width.medium {
	width: clamp();
	
	padding-left: calc(var(--container-padding) * 2);
	padding-right: calc(var(--container-padding) * 2);
}

.container-fluid-width.small {
	padding-left: calc(var(--container-padding) * 3);
	padding-right: calc(var(--container-padding) * 3);
}

.container-fluid-width.no-padding {
	padding-left: unset;
	padding-right: unset;
}

.section-content.fullscreen {
	height: 100vh;
	padding: 0;
}

.section-content.full .container-fluid-width {
	padding-left: unset;
	padding-right: unset;
}

.section-content.no-min-height {
	min-height: 0;
}

.section-content.no-padding {
	padding-top: unset;
	padding-bottom: unset;
}

.full-section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	color: white;
}

.full-section {
	background-color: var(--base-black);
}

.text-center {
	text-align: center;
}

a.block {
	text-decoration: none;
}

.block {
	display: block;
}

.push-right {
	margin-left: auto;
}

/* buttons */
button {
	cursor: pointer;
}

.btn {
	display: flex;
	padding: 10px;
	align-items: center;
	border: 2px solid transparent;
}

.btn.btn-bordered {
	border-color: var(--base-black);
}

.btn-bordered.btn-gray2 {
	border-color: var(--gray-2);
}

.btn-bordered.btn-gray3 {
	border-color: var(--gray-3);
}

.btn-clear {
	background-color: transparent;
}

a {
	color: var(--base-blue);
}

.uppercase {
	text-transform: uppercase;
}

/* typescale */
.align-center {
	align-items: center;
}

.grid {
	display: grid;
	gap: 8rem;
}
.grid .desc-container {
	align-self: center;
}

.grid.reverse .img-container {
	grid-column: 1;
	grid-row: 1;
}
.grid.reverse .desc-container {
	grid-column: 2;
	grid-row: 1;
}

.grid.by-2 {
	grid-template-columns: 1fr 1fr;
}

.flex {
	display: flex;
}

.flex.reverse {
	flex-direction: row-reverse;
}

.flex.by-2 > * {
	flex: 0 1 50%;
}

.card-container {
	gap: 4rem;
}

.article-content {
	font-size: 1.2rem;
	--gap: clamp(1rem, 6vw, 6rem);
	--full: minmax(var(--gap), 1fr);
	--content: min(75ch, 100% - var(--gap) * 2);
	--popout: minmax(0, 4rem);
	--feature: minmax(0, 10rem);
	display: grid;
	grid-template-columns:
		[full-start] var(--full) [feature-start] var(--feature) [popout-start] var(
			--popout
		)
		[content-start] var(--content) [content-end] var(--popout) [popout-end] var(
			--feature
		)
		[feature-end] var(--full) [full-end];
}

.article-content p {
	margin-bottom: 0;
}

.article-content > * {
	grid-column: content;
}

.article-content > * {
	grid-column: content;
}

.article-content .popout {
	grid-column: popout;
}

.article-content .feature {
	grid-column: feature;
}

.article-content .full {
	grid-column: full;
}

.article-content img {
	aspect-ratio: 4/1.5;
	display: block;
	width: 100%;
}

.article-social {
	grid-column: full;
	height: 0;
	position: sticky;
	align-self: start;
	top: calc(50% - 11rem);
}

.article-social .social-icons {
	display: block;
	height: 3rem;
	width: 3rem;
	margin: 0.5rem;
}

.split-color b {
	color: var(--base-red);
}

.nav-container {
	position: fixed;
	width: 100%;
	z-index: 1000;
	height: var(--nav-height);
	top: 0;
	font-family: var(--font-mw_sans);
}

.nav-container .container-fluid-width {
	display: flex;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
	justify-content: center;
}

.className {
	width: 3rem;
}

.brand-logo {
	width: 3rem;
	display: block;
	padding: 1rem 0;
}

.brand-logo figure,
.brand-logo img {
	display: block;
	width: 100%;
	margin: 0;
}

.main-nav {
	flex: 1;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-nav a {
	color: black;
	text-decoration: none;
	padding: 1rem;
}

.nav-toggle {
	margin: 0;
}

.nav-toggle-trigger {
	position: fixed;
	top: 2rem;
	right: 2rem;
	z-index: 1001;
}

.nav-toggle-content {
	z-index: 1001;
	position: fixed;
	left: 0;
	top: 0;
	height: 100dvh;
	width: 100%;
	overflow: auto;
	display: flex;
}

.nav-toggle-bg-elements {
	position: fixed;
	z-index: 0;
}

.main-nav.toggle-nav {
	position: relative;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20rem;
	padding: 4rem;
	display: block;
	text-align: left;
	font-family: var(--font-mw_sans);
	height: 100%;
	overflow: auto;
}
.main-nav.toggle-nav a {
	padding: 0;
}
.main-nav.toggle-nav .nav-dropdown {
	padding-left: 3rem;
	position: static;
	transform: none;
	background: transparent;
	box-shadow: none;
	display: block !important;
	opacity: 1 !important;
	transform: none !important;
	color: white;
}
.main-nav.toggle-nav .nav-dropdown a {
	color: white;
}
.main-nav.toggle-nav a.nav-item,
.main-nav.toggle-nav .nav-item > a,
.main-nav.toggle-nav .nav-item > div:first-child a {
	color: white;
	font-size: 1.5rem;
	display: block;
}
.main-nav.toggle-nav .nav-item > span {
	position: relative;
	display: block;
}

.toggle-nav-item a {
	color: currentColor;
}

.toggle-nav-item > a {
	font-size: 3rem;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}

.nav-item {
	position: relative;
}

a.nav-item,
.nav-item > div {
	font-weight: 500;
}

.nav-dropdown {
	font-size: 0.9rem;
	width: 20vw;
	position: absolute;
	left: 50%;
	top: 100%;
	border-color: transparent;
	border-top: 20px;
	transform: translate(-50%, 0);
	/* pointer-events: none; */
	/* display: none; */
	text-align: left;
	background-color: white;
	padding: 1rem;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
}

.nav-dropdown a {
	display: block;
	padding: 2px 0;
}

.inner-dropdown {
	padding-left: 1rem;
	font-size: 0.85rem;
}

.shape-bg {
	position: fixed;
}

.bg-1 {
	position: fixed;
	height: 15rem;
	width: 60rem;
	border-radius: 10rem;
	background-color: var(--gray-2);
	bottom: 30rem;
	left: -15rem;
	z-index: 0;
}

.fg-1 {
	position: fixed;
	height: 15rem;
	width: 60rem;
	border-radius: 10rem;
	background-color: var(--base-yellow);
	bottom: 15rem;
	left: -15rem;
	z-index: 0;
}

.mvs-shapes {
	position: fixed;
	top: 5rem;
	right: 5rem;
	scale: 0.75;
}

.mvs-shapes path {
	position: relative;
	/* transform-origin: center; */
}

.test {
	background-color: #f25a38;
	background-color: #ffd038;
	background-color: #0b7bb5;
}

.main-footer {
	position: relative;
	z-index: 1;
	background-color: #ffffff;
	overflow: hidden;
}

.main-footer .container-fluid-width {
	max-width: 100%;
	margin: auto;
	position: relative;
}

.footer-links {
	display: flex;
	flex-wrap: wrap;
	font-size: 1rem;
	gap: 2rem;
	padding: 2rem 0;
	line-height: 1.25;
}

.footer-links .accordion-content {
	padding-top: 1rem;
}

.footer-links p {
	margin: 0;
}

.footer-links > * {
	flex: 1 0 20rem;
}

.footer-links-col {
	flex: 0 1 50%;
}
.footer-links-col p {
	margin-top: 1rem;
}

.footer-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.footer-logo .brand-logo {
	width: 5rem;
	margin-right: 2rem;
}

.social-icons {
	border-radius: 100%;
	background-color: var(--gray-2);
	display: flex;
	align-items: center;
}

.social-icons a {
	color: currentColor;
	padding: 0.75rem;
	display: flex;
	align-items: center;
}

.privacy-flex {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.privacy-flex img {
	width: 4rem;
	height: auto;
}

.btn {
	border-radius: 2rem;
	display: inline-flex;
	padding: 0.5rem 2rem;
	align-items: center;
	border: 2px solid transparent;
	background-color: var(--gray-2);
	font-weight: bold;
	transform-origin: center;
	position: relative;
	overflow: hidden;
	font-family: var(--font-mw_sans);
	position: relative;
	font-size: 0.85rem;
}

.btn .btn-label {
	text-decoration: none;
	color: currentColor;
	position: relative;
	z-index: 2;
}

.btn.pri {
	color: var(--base-blue);
}

.btn.btn-bordered {
	background-color: transparent;
	border-color: var(--base-black);
}

.btn.btn-bordered.pri {
	border-color: var(--base-blue);
}

.btn.btn-bordered.sec {
	border-color: var(--base-red);
	color: var(--base-red);
}

.btn.btn-bordered.white {
	border-color: white;
	color: white;
	background-color: transparent;
}

.btn.white {
	background-color: white;
	color: var(--base-red);
}

.btn-bg {
	position: absolute;
	top: 0;
	left: 0;
	color: inherit;
	width: 150%;
	height: 200%;
	background: currentColor;
	top: -50%;
	left: -25%;
	border-radius: 50%;
}

.link-cover {
	z-index: 5;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.parallax-container {
	height: 120svh;
	position: relative;
	z-index: 1;
}

.parallax {
	height: 200%;
	position: relative;
	overflow: hidden;
}

.parallax > * {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 100%;
	height: 110%;
	object-fit: cover;
	object-position: bottom center;
	transform-origin: center center;
}

.parallax img {
	object-fit: cover;
}

.parallax h1 {
	/* top: 20vh; */
	top: 15%;
	bottom: auto;
	text-align: center;
	text-transform: uppercase;
	width: 600px;
	color: black;
	height: auto;
	margin: 0;
}

.parallax h1 span {
	display: block;
	white-space: nowrap;
	position: relative;
}

/* .parallax > * {

} */
.sample-video {
	/* height: 150vh; */
	padding-top: 25vh;
}

.sample-video > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sample-video .container-fluid-width {
	position: relative;
	z-index: 3;
	color: white;
	display: flex;
	align-items: center;
	width: 1024px;
	flex-direction: column;
	padding: 4rem;
	min-height: calc(100vh - 8rem);
}

.video-container {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
	left: 50%;
	top: 50%;
}

.video-container video {
	opacity: 1;
	object-fit: cover;
}

.modal {
	position: fixed;
	height: 100vh;
	background-color: hsla(0, 0%, 90%, 0.75);
	backdrop-filter: blur(10px);
	width: 100%;
	z-index: 2000;
	display: flex;
	left: 0;
	top: 0;
}

.modal-container {
	background-color: white;
	border-radius: 20px;
	width: 360px;
	margin: auto;
	padding: 1.5rem;
	position: relative;
}

.modal-content {
	padding: 1rem 0;
}

.modal-header {
	font-weight: bold;
	font-size: 2rem;
	text-wrap: balance;
	line-height: 1;
}

.modal-close {
	position: absolute;
	right: 5px;
	top: 5px;
}

.single-parallax {
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}
.single-parallax > div {
	position: absolute;
	top: 50%;
	left: 50%;
}

.ourbusinesses-section {
	--selected-size: 8rem;
	--gap: 4rem;
	z-index: 10;
	position: relative;
	background-color: #fffbf2;
}

.ourbusinesses-container {
	display: grid;
	padding: var(--section-padding);
	grid-template-columns: 0.85fr 1.3fr 0.85fr;
	grid-template-rows: 100px auto;
	gap: 0 var(--gap);
	overflow: hidden;
	border: 10px solid white;
	position: relative;
	z-index: 1;
	min-height: calc(100vh - 8rem);
}

.ourbusinesses-bg {
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: blur(1rem);
	opacity: 0.15;
}

.ourbusinesses-bg img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
}

.ourbusinesses-section .container-fluid-width {
	padding: var(--section-padding);
}

.ourbusinesses-section h2 {
	grid-area: 1/2/2/3;
	margin: 0;
	text-align: center;
}

.ourbusinesses-section h3 {
	margin: 0;
}

.outer-ring,
.inner-ring,
.ring-description {
	width: 100%;
	align-self: center;
}

.ring-description {
	grid-area: 2/1/3/2;
}

.outer-ring {
	position: relative;
	grid-area: 2/2/3/3;
	aspect-ratio: 1/1;
}

.outer-ring img {
	left: 0;
	top: 0;
	position: absolute;
	border-radius: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	height: 100%;
	width: 100%;
	transform: scale(0.95);
}

.outer-ring {
	width: 100%;
	padding: 10px;
	position: relative;
	z-index: 2;
}

.outer-ring > .ring {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
	border: 4px solid var(--base-yellow);
	border-radius: 100%;
}

.ring-selected {
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(0, -50%);
	display: flex;
	align-items: center;
}

.ring-selected:before {
	content: '';
	display: block;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	height: 2px;
	background-color: var(--base-yellow);
	width: 4rem;
}

.ring-selected .ring {
	height: var(--selected-size);
	width: var(--selected-size);
	border: 3px solid var(--base-yellow);
	border-radius: 100%;
}

.inner-img img,
.outer-ring img {
	width: 100%;
}

.inner-item p {
	font-weight: bold;
	margin: 0;
}

.inner-ring {
	grid-area: 2/3/3/4;
	height: 0;
}

.inner-item {
	cursor: pointer;
	display: flex;
	align-items: center;
	position: relative;
}

.inner-item::before {
	content: '';
	display: block;
	position: absolute;
	width: 2px;
	top: 0rem;
	bottom: 0rem;
	left: calc(var(--selected-size) / 2);
	background-color: black;
}

.inner-item:first-child:before {
	top: 50%;
}

.inner-item:last-child:before {
	bottom: 50%;
}

.inner-item p {
	margin: 0;
}

.inner-img {
	height: var(--selected-size);
	width: var(--selected-size);
	overflow: hidden;
	border-radius: 100%;
}

.inner-img img {
	height: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	transform: scale(0.5);
	border-radius: 100%;
}

.image3d {
	position: relative;
	align-self: center;
	padding-bottom: 0;
}

.image3d img {
	position: absolute;
	bottom: 0%;
	left: 50%;
	width: 100%;
	/* transform: translate(-50%, -50%); */
}

.image3d-bg img {
	position: absolute;
	left: 50%;
	bottom: 0%;
	/* transform: translate(-50%, -50%); */
}

.image3d-elements {
	height: 100%;
	width: 100%;
}

.image3d-bg {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.image3d-bg img {
	position: relative;
	left: 0;
}

.image3d-label {
	position: absolute;
	top: 0%;
	left: var(--gap-padding);
	right: var(--gap-padding);
	color: white;
}

.pageCTA {
	position: relative;
	overflow: hidden;
	border-bottom-left-radius: 5rem;
	border-bottom-right-radius: 5rem;
	background-color: #ffffff;
	z-index: 10;
}

.pageCTA .heading-2 {
	position: absolute;
	color: white;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pageCTA .container-fluid-width {
	padding: 0;
	width: 100%;
}

.cta-images {
	position: relative;
	min-height: 600px;
	height: 50vh;
	z-index: 1;
}

.cta-images img {
	position: absolute;
	top: 0%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	transform-origin: center bottom;
}

.pageCTA .btn {
	font-size: 1.3rem;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -50%);
}

.page-title {
	padding-bottom: unset;
}
.page-title .container-fluid-width {
	padding-bottom: 0;
}
.page-title h1 {
	margin-top: 0;
	position: relative;
	margin-bottom: 0;
}
.page-title h1 span {
	display: inline-block;
}

.page-title.center {
	text-align: center;
}
.page-title.center h1 {
	max-width: 550px;
	margin: auto;
	text-align: center;
}
.pdf-item {
	padding: 1rem 1rem;
	border-top: 1px solid var(--gray-3);
	display: flex;
	gap: calc(var(--gap-padding) * 2);
	color: var(--base-black);
	position: relative;
	overflow: hidden;
	align-items: center;
}

.pdf-item a {
	color: currentColor;
}

.pdf-grid {
	gap: 2rem;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pdf-name {
	margin-right: auto;
}

.pdf-details,
.pdf-link {
	display: inline-flex;
	align-items: center;
	gap: 1rem;
}

.pdf-link {
	color: inherit;
}

.pdf-name,
.pdf-details {
	position: relative;
	z-index: 1;
}

.pdf-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--yellow-1);
}

.pdf-widget {
	background-color: var(--base-red);
	padding: 2rem;
	position: relative;
	aspect-ratio: 4/3;
	color: white;
	display: flex;
	align-items: flex-end;
}

.pdf-widget-title {
	color: inherit;
	font-weight: bold;
	margin: 0;
	line-height: 1;
}
.pdf-widget-title a {
	display: block;
	color: inherit;
}

.pdf-widget-title span {
	font-size: 0.65em;
	font-weight: normal;
}

.pdf-widget-link {
	color: white;
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.textgradient-section + div {
	padding-top: unset;
}

.text-gradient {
	display: flex;
	line-height: 1;
	flex-wrap: wrap;
	width: 75%;
}
.text-gradient .word {
	position: relative;
	margin-right: 0.75rem;
	margin-top: 1rem;
}
.text-gradient .word .shadow {
	position: absolute;
	opacity: 20%;
}

.parallax-column-container {
	--parallax-gap: 4rem;
	--parallax-column-height: 175vh;
	height: var(--parallax-column-height);
	margin-top: var(--container-gap);
	padding-top: unset;
	padding-bottom: unset;
	margin-top: calc(var(--gap-padding) / 2);
}
.parallax-column-container .container-fluid-width {
	padding: 0;
	height: var(--parallax-column-height);
}

.cover {
	position: sticky;
	top: 0;
	z-index: 2;
	height: 100vh;
	background-color: rgba(41, 29, 10, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}
.cover .cover-content {
	width: 768px;
	text-align: center;
}

.parallax-column {
	height: var(--parallax-column-height);
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.parallax-column .column-wrapper {
	z-index: 1;
	position: absolute;
	top: -12.5vh;
	height: 200vh;
	display: flex;
	gap: 2vw;
	padding: 2vw;
}
.parallax-column .column-wrapper .column {
	position: relative;
	height: 100%;
	width: 25%;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	gap: 2vw;
	white-space: nowrap;
}
.parallax-column .column-wrapper .column .img-container {
	position: absolute;
	height: 33%;
	width: 100%;
	position: relative;
	border-radius: 1vw;
	overflow: hidden;
}
.parallax-column .column-wrapper .column .img-container img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.parallax-column .column-wrapper .column:nth-of-type(1) {
	top: -30%;
}
.parallax-column .column-wrapper .column:nth-of-type(2) {
	top: -70%;
}
.parallax-column .column-wrapper .column:nth-of-type(3) {
	top: -30%;
}
.parallax-column .column-wrapper .column:nth-of-type(4) {
	top: -60%;
}

.marquee {
	overflow: hidden;
	padding: 1rem;
}
.marquee .marquee-overflow {
	position: relative;
}
.marquee .grid {
	width: 200%;
	gap: 1rem;
}
.marquee .grid > div {
	overflow: hidden;
	aspect-ratio: 1.3/1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.marquee img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	position: relative;
	z-index: 1;
}
.marquee .single-parallax {
	height: 125%;
	width: 125%;
}
.marquee .single-parallax span {
	position: absolute;
	z-index: 3;
	font-size: 10rem;
	font-weight: bold;
	top: 0;
	left: 0;
	color: white;
}

.news-featured {
	display: grid;
	gap: var(--gap-padding);
	grid-template-columns: 0.5fr 0.5fr;
}
.news-featured .news-title {
	margin: 0;
	font-weight: 600;
}
.news-featured .single-parallax {
	height: 100%;
	width: 100%;
}
.news-featured .img-container {
	aspect-ratio: 3/4;
	overflow: hidden;
}
.news-featured .img-container img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.news-list {
	padding-top: calc(var(--section-padding));
	padding-bottom: calc(var(--section-padding));
}

.news-item {
	display: flex;
	border-top: 1px solid var(--gray-3);
	align-items: center;
}
.news-item .img-container {
	display: none;
}
.news-item .news-title {
	flex: 0 1 768px;
	margin: 0;
	margin-right: auto;
	padding: 2rem 0;
}

.modalContainer {
	height: 350px;
	width: 400px;
	position: absolute;
	background-color: white;
	overflow: hidden;
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modalSlider {
	height: 100%;
	width: 100%;
	position: absolute;
	transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal-news {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.modal-news img {
	height: auto;
}

.cursor,
.cursorLabel {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: var(--base-blue);
	color: white;
	position: absolute;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 300;
	pointer-events: none;
}

.cursorLabel {
	background-color: transparent;
}

.project {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 50px 100px 50px 100px;
	border-top: 1px solid rgb(201, 201, 201);
	cursor: pointer;
	transition: all 0.2s;
}

.project:last-of-type {
	border-bottom: 1px solid rgb(201, 201, 201);
}

.project:hover {
	opacity: 0.5;
}

.project:hover h2 {
	transform: translateX(-10px);
}

.project:hover p {
	transform: translateX(10px);
}

.project h2 {
	font-size: 60px;
	margin: 0px;
	font-weight: 400;
	transition: all 0.4s;
}

.project p {
	transition: all 0.4s;
	font-weight: 300;
}

.business-list {
	display: grid;
	grid-template-columns: minmax(50%, 1fr) 1fr;
	gap: calc(var(--gap-padding) / 2);
	row-gap: 0;
}

.business-item {
	display: grid;
	align-items: flex-start;
	grid-template-columns: 8rem auto;
	gap: calc(var(--gap-padding) / 2);
	border-top: 1px solid var(--gray-3);
	padding-top: calc(var(--gap-padding) / 2);
}
.business-item .business-name {
	margin: 0;
}
.business-item .img-container {
	border-radius: 100%;
	overflow: hidden;
}
.business-item .img-container img {
	display: block;
	width: 100%;
}
.business-item .desc-container {
	flex: 0 1 1;
}

.business-inner {
	display: grid;
	grid-template-columns: 1fr 20rem;
	gap: var(--gap-padding);
}
.business-inner .other-details {
	align-self: start;
	position: sticky;
	top: 0;
}

.business-controls {
	justify-content: flex-start;
	padding: 0 !important;
}
.business-controls .controls {
	padding: var(--section-padding);
	flex: 1;
	display: flex;
	justify-content: space-between;
}
.business-controls .control {
	width: 40%;
	border-bottom: 2px solid var(--gray-3);
}
.business-controls .prev {
	margin-right: auto;
}
.business-controls .next {
	margin-left: auto;
	text-align: right;
}
.business-controls .label,
.business-controls .img-container {
	position: relative;
}
.business-controls .img-container {
	width: 20rem;
}
.business-controls img {
	aspect-ratio: 4/2.5;
}
.business-controls .arrow {
	display: flex;
	align-items: center;
	gap: 10px;
}
.business-controls .control-details {
	padding-left: calc(10px + 1.25rem);
}
.business-controls .next .img-container {
	margin-left: auto;
}
.business-controls .next .arrow {
	justify-content: flex-end;
}

.two-col-section .img-container {
	transform-origin: left left;
	aspect-ratio: 3/4;
	align-self: center;
	position: relative;
}

.img-container img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.form-group {
	display: flex;
	gap: 10px;
}

.fullbanner-section {
	height: 100vh;
}
.fullbanner-section img,
.fullbanner-section video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.floating-elements .container-fluid-width {
	display: flex;
	gap: var(--gap-padding);
	align-items: flex-start;
	align-items: stretch;
}
.floating-elements .desc-container {
	flex: 1 1;
}
.floating-elements .img-container {
	flex: 1 1;
	position: relative;
}
.floating-elements .floating-img {
	aspect-ratio: 1/1;
	position: absolute;
}
.floating-elements .floating-img:nth-child(1) {
	aspect-ratio: 3/3.5;
	width: 25vw;
	margin: auto;
	z-index: 2;
	left: 50%;
}
.floating-elements .floating-img:nth-child(2) {
	width: 8vw;
	top: 40vh;
	left: 90%;
	z-index: 3;
}
.floating-elements .floating-img:nth-child(3) {
	width: 15vw;
	top: 10vh;
	left: 120%;
	z-index: 1;
}

.floating-elements.reverse .container-fluid-width {
	flex-direction: row-reverse;
}
.floating-elements.reverse .floating-img:nth-child(2) {
	left: auto;
	right: 66%;
}
.floating-elements.reverse .floating-img:nth-child(3) {
	left: auto;
	right: 69%;
}

.accordion-item {
	margin: 1rem 0;
}

.accordion-header {
	padding-bottom: 10px;
	border-bottom: 1px solid var(--gray-3);
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	flex: 1;
}

.accordion-overflow {
	overflow: hidden;
	height: 0;
}

.kaunlaran-section {
	padding-top: var(--nav-height);
}
.kaunlaran-section .container-fluid-width {
	display: grid;
	gap: var(--gap-padding);
	grid-template-columns: 0.9fr 1fr;
}

.kaunlaran-featured {
	position: relative;
	display: flex;
	align-items: flex-end;
}
.kaunlaran-featured .desc-container {
	position: absolute;
	padding: calc(var(--gap-padding) / 3);
	color: white;
}
.kaunlaran-featured .img-container {
	border-radius: var(--border-radius);
	overflow: hidden;
}
.kaunlaran-featured .issue-title {
	margin-bottom: 0;
	margin-top: 1rem;
}

.kaunlaran-list {
	margin-top: calc(var(--gap-padding) / 2);
	--kaunlaran-gap: calc(var(--gap-padding) / 2);
	display: grid;
	gap: calc(var(--kaunlaran-gap) / 2);
	grid-template-columns: 1fr 1fr;
}

.issue-item {
	position: relative;
	grid-column: 1;
	border: 1px solid var(--gray-3);
	border-radius: var(--border-radius);
}
.issue-item .img-container {
	border-radius: var(--border-radius);
	overflow: hidden;
}
.issue-item .issue-title {
	font-size: 1.1rem;
	margin-top: 0;
}
.issue-item .desc-container {
	padding: 1rem;
}

.issue-item:nth-child(even) {
	grid-column: 2;
	transform: translateY(var(--gap-padding));
}

.page-banner {
	height: calc(100dvh - var(--nav-height) + var(--section-padding));
}
.page-banner .container-fluid-width {
	display: flex;
	align-items: center;
	height: 100%;
	overflow: hidden;
}
.page-banner .desc-container {
	flex: 0 1 50%;
}
.page-banner .img-container {
	position: relative;
	flex: 0 1 50%;
	align-self: stretch;
}
.page-banner .img-container .img-item {
	position: absolute;
	height: auto;
	width: auto;
	bottom: 0;
}
.page-banner .img-container .img-item {
	z-index: 2;
}
.page-banner .img-container .img-item:first-child {
	position: relative;
	width: auto;
	height: 100%;
	z-index: 0;
}
.page-banner .img-container .img-item:nth-child(2) {
	width: 100%;
	height: auto;
}
.page-banner .img-container .img-item:nth-child(3) {
	right: 40%;
	width: 18vw;
}
.page-banner .img-container .img-item:nth-child(4) {
	right: 0%;
	width: 20vw;
}
.page-banner .img-container .img-item:last-child {
	bottom: 55%;
	height: auto;
	z-index: 1;
	width: 12vw;
}

.walaakongmaipangalan .img-container {
	position: relative;
}
.walaakongmaipangalan .label {
	position: absolute;
	top: 50%;
	z-index: 2;
	color: white;
	padding: 4rem;
}
.walaakongmaipangalan .label + div {
	position: relative;
	z-index: 1;
}

.mvs-item .img-container {
	width: 10rem;
} /*# sourceMappingURL=styles.css.map */
