.image-slider {
	width: 35rem;
	margin: 2rem auto;
	position: relative;
	&.full {
		width: 100%;
	}
	.button {
		position: absolute;
		height: 2.5rem;
		width: 2.5rem;
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;

		top: 11rem;
		border-radius: 100%;
		&.left {
			left: -1.5rem;
		}
		&.right {
			left: auto;
			right: -1.5rem;
		}
	}
	.image-slider-track {
		white-space: nowrap;
		// flex-wrap: nowrap;
		perspective: 125px;
		perspective-origin: 50% 25%;
	}
	.image-slide {
		display: inline-block;
		width: 100%;
		position: relative;
		// margin-left: -50%;
		img {
			width: 100%;
		}
	}
	.image-description {
		white-space: normal;
		padding: 2rem 0;
		p {
			line-height: 1.5;
		}

		.image-title {
			margin-bottom: 1rem;
		}

		.image-desc {
			line-height: 1.5;
		}
	}
}
.image-slider.caption-absolute {
	.image-description {
		color: white;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 5rem 2rem 2rem;
		background-image: linear-gradient(#00000000, #000000);
	}
}

.image-slider-dots {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	button {
		height: 12px;
		width: 12px;
		background-color: #d9d9d9;
		border-radius: 100%;
	}
}
