.main-footer {
	position: relative;
	z-index: 1;
	background-color: #ffffff;
}

.main-footer .container-fluid-width {
	width: 75rem;
	max-width: 100%;
	margin: auto;
}

.footer-links {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.1rem;
	gap: 2rem;
	padding: 2rem;
	line-height: 1.25;
}

.footer-links .accordion-content {
	padding-top: 1rem;
}

.footer-links p {
	margin: 0;
}

.footer-links > * {
	flex: 1 0 20rem;
}

.footer-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.footer-logo .brand-logo {
	width: 5rem;
	margin-right: 2rem;
}

.social-icons {
	border-radius: 100%;
	background-color: var(--gray-2);

	display: flex;
	align-items: center;
}

.social-icons a {
	color: currentColor;
	padding: 0.75rem;
	display: flex;
	align-items: center;
}

.privacy-flex {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.privacy-flex img {
	width: 4rem;
	height: auto;
}
